// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
  padding: 0; 
  font: 12/18px, Arial;
}

#home {
  padding-bottom:144px; 

  header {
    background: #1e1e1f;
    height: 140px; 
    width: 100%;
    margin-bottom: 36px;
        
    #site-title {
      text-align: center;
      
      h1 { 
        text-align: center;
        padding-top: 20px;
      }
    }
    
    nav {
      margin: 0 auto;
      text-align: right;
      padding-top: 18px;
			padding-right: 20px;
      
      a {
      color: #fff;
      text-transform:uppercase;     
      
      &.blue { color: #48b7e3; }
      }
    }
  }
  
  h1.title_1 { 
    text-align: center; 
    font-size: 2em; // 36 % 18
    line-height: 1em; // 18 % 36
  }
	
	h2.title_2 {
	  text-align: center;
		color: #cecece;
    margin-top: 0.6em;
    font-size: 1.6666em; // 30 % 18
    line-height: 1.2em; // 18 % 30 
		margin-bottom: 1.2em;
	}
	
	div.container.sign_up { }
	
	.sign-up {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
    
    p {
      font-size: 1em; // 18 % 18 
      line-height: 2em; // 18 % 18
		}

	  label { text-align: left; font-weight: bold; }		

		.field-container { padding-right: 20px; }
		
		.submit-container { margin-bottom: 1em;}
		
		.already_registered { }

		input { width: 100%; }
	}
}

footer {
	background-color: #f2f2f2;
  width: 100%;
  height: 200px;
  clear: both;
  padding-left: 20px;
  padding-right: 20px;

  h3 {
    font-size: 1em;
    color: #48b7e3;
  }
  
  .container {
    padding-top: 1em;
  }
  
}
