// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.home{
	h1.title_1 {
		text-align: center;
	}
	
	h2.title_2 {
		text-align: center;
		color: #cecece;
		font-family: Arial;
		margin-bottom: 50px;
	}
	
	div.container.sign_up {
		min-height: 100%;
		height: 100%;
	}
	
	footer {
		background-color: #dedede;
		width: 100%;
		height: 100px;
	}
	
	form.sign-up {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		
		div.field-container {
			padding-right: 20px;
		}
		
		div.submit-container {
			text-align: center;
		}
		
		div.already_registered {
			text-align: center;
			margin: 8px 0 8px 0;
		}
		
		input {
			width: 100%;
		}
		
	}
}