// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { padding: 0; }

#home {
  padding-bottom:200px; 

  header {
    background: #1e1e1f;
    height: 150px;
    width: 100%;
    margin-bottom: 36px;
        
    #site-title {
      text-align: center;
      
      h1 { 
        text-align: center;
        padding-top: 20px;
      }
    }
    
    nav {
      margin: 0 auto;
      text-align: right;
      padding-top: 50px;
			padding-right: 20px;
      
      a {
      color: #fff;
      text-transform:uppercase;     
      }
    }
  }
  
  h1.title_1 { text-align: center; }
	
	h2.title_2 {
	  text-align: center;
		color: #cecece;
		font-family: Arial;
		margin-bottom: 50px;
	}
	
	div.container.sign_up {  }
	
	form.sign-up {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		
		div.field-container { padding-right: 20px; }
		
		div.submit-container { text-align: center; }
		
		div.already_registered {
		  text-align: center;
			margin: 8px 0 8px 0;
		}
		
		input { width: 100%; }
	}
}

footer {
	background-color: #f2f2f2;
  width: 100%;
  height: 200px;
  clear: both;

  h3 {
    font-size: 1em;
    color: #48b7e3;
  }
}
